#brand-image {
	margin-top: -10px;
}

#heading1, #heading2 {
	margin: 20px 0;
}


@media only screen and (max-width: 787px) {

    #mountain-image {
     	display: none;
    }

    #heading1 {
    	margin-top: 80px;
    }

    #heading2 {
    	font-size: 15px;
    	text-align: right;
    }


}

@media only screen and (min-width: 420px) {
    .collapse {
        display: block;
    }

    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-nav.navbar-left {
       float: left;
       margin: 0;
    }

    .navbar-nav.navbar-right {
       float: right;
       margin: 0;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-nav>li>a {
        padding-top: 15px;
        padding-bottom: 15px;
    }


}

@media only screen and (max-width: 420px) {
     .collapse {
        display: none;
     }

     .navbar-header {
        display: block;
     }

}